{{ attach_library('bilimauth/domain-list') }}
<script type="text/javascript">
  const domains = JSON.parse('{{content.domain|json_encode()|raw}}');
  const domainlist = 'dlist';
  const styles = '';
  const domainView = '';
  const base_url = "{{ base_url }}";
</script>
<div class="main-container">
  <header>
    <div class="header-container">
      <a href="{{base_url}}/platform/homepage" class="style-back-btn">
        <button class="header-home-back-btn"></button>
      </a>
      <div class="header-lbl-container">
        <span class="header-left-lbl" onclick="javascript:location.href='{{base_url}}/platform/homepage'" style="cursor: pointer;">BILIM</span>
        <span class="header-right-lbl">{{content.username}}</span>
      </div>
      <a href="{{base_url}}/user/logout" class="header-logout-btn"></a>
    </div>
  </header>
  <section class="main-section">
    <div class="title-container">
      <div class="title-content">
        <div class="title">
          <span>DOMAIN</span>
          <div class="domain-name-search-box">
            <input type="text" />
            <button />
          </div>
        </div>
        <div class="title-btns-container">
          <button
            class="add-domain-btn"
            onclick="onNewDomainBtnClick(event)"
          ></button>
        </div>
      </div>
    </div>
    <div class="domain-list-container">
      <div class="domain-list-scroll-box custom-scrollbar">
        <ul id="domainList" class="domain-list">
        	<div class="error" style="display: none;">No Match Found</div>
        </ul>
         
      </div>
     
    </div>
  </section>
  <div class="loading-gif"></div>
</div>
<div id="popupContainer" class="popup-container">
  <div class="popup-backdrop"></div>
  <div id="domainPopup" class="popup domain-popup new-domain">
    <button class="popup-close-btn" onclick="onDomainPopupClose(event)"></button>
    <div class="domain-popup-title">
      <span class="add-domain-lbl">Add Domain</span>
      <span class="edit-domain-lbl">Edit Domain</span>
    </div>
    <div class="domain-popup-form">
      <input id="domain-name-input"
        type="text"
        placeholder="Domain Name*"
        class="domain-name-txt"
      />
      <div class="domain-form-btn-box">
        <button class="create-domain-btn"></button>
        <button class="update-domain-btn"></button>
      </div>
    </div>
  </div>
</div>

<!-- Delete domain popup -->
<div id="delete-domain-cnf-popup" class="delete-domain-cnf-popup">
	<div class="context-menu-backdrop"></div>
	<div class="delete-container">
   <h1>Delete Confirmation</h1>
   <p style="margin-bottom:5px;">This Domain is empty.</p> 
   <p>Do you want to delete it?</p>
   <div class="dlt-actions">
		   <div class="cancel-btn" onclick="onDomainDltCancel(event)">Cancel</div>
		   <div class="dlt-btn">Yes</div>
   </div>
	</div>
</div> 
<div id="not-delete-domain-popup" class="not-delete-domain-popup">
	<div class="context-menu-backdrop"></div>
	<div class="delete-container">
   <h1 style="color:red;">Action not allowed</h1>
   <p>This Domain is not empty.</p>
   <div class="dlt-actions">
		   <div class="ok-btn" onclick="onDomainNoDltCancel(event)">I understand</div>
   </div>
	</div>
</div> 